!!!
%html
  %head
    %title OneSpot.me
    = stylesheets :screen, :media => :screen
    = stylesheets :print, :media => :print
    /[if IE 6]
      = stylesheets :ie6, :media => :screen
    /[if IE 7]
      = stylesheets :ie7, :media => :screen
  %body{:class => yield_for(:body_class) }
    
    #bg_container
        
      #container
        -unless yield_for(:show_header) == false
          #header= partial("header")
        #content
          = yield
          
        #sidebar= yield_for(:sidebar)

        #footer
          Copyrights 2010